.typewriter h1 {
    font-family: 'Waiting for the Sunrise', cursive; 
    font-size: 52px;
    margin: 10px 50px; 
    letter-spacing: 6px; 
    font-weight: bold;
    line-height: 1.6;
}

#author {
    text-align: right;
}

@media only screen 
and (min-width : 1224px) {
	.content {
		padding-top: 6em;
	}
}