body {
    font-family: Titillium Web;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    font-family: Lucida Bright;
}

.description {
    margin-left: 1em;
}